<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">
      <i class="bi bi-safe" style="margin-right: 5px;"></i>
      Management Market
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
            type="button"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="navbarDropdownBlog"
             role="button">
            Customers
          </a>
          <ul aria-labelledby="navbarDropdownBlog" class="dropdown-menu dropdown-menu-end">
            <li><a [routerLink]="['/customers/new']" class="dropdown-item"><i class="bi bi-person-plus-fill"
                                                                              style="padding-right: 8px;"></i>Create Customer
            </a></li>
            <li><a [routerLink]="['/customers']" class="dropdown-item"><i class="bi bi-people-fill"
                                                                          style="padding-right: 8px;"></i>
              Data Customers</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="navbarDropdownBlog"
             role="button">
            Products
          </a>
          <ul aria-labelledby="navbarDropdownBlog" class="dropdown-menu dropdown-menu-end">
            <li><a [routerLink]="['/products/new']" class="dropdown-item"><i class="bi bi-person-plus-fill"
                                                                          style="padding-right: 8px;"></i>Create Product
            </a></li>
            <li><a [routerLink]="['/products']" class="dropdown-item"><i class="bi bi-people-fill"
                                                                          style="padding-right: 8px;"></i>
              Data Products</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="navbarDropdownBlog"
             role="button">
            Invoices
          </a>
          <ul aria-labelledby="navbarDropdownBlog" class="dropdown-menu dropdown-menu-end">
            <li><a [routerLink]="['/invoices/new']" class="dropdown-item"><i class="bi bi-receipt" style="padding-right: 8px;"></i>New Invoice</a></li>
            <li><a [routerLink]="['/invoices']" class="dropdown-item"><i class="bi bi-receipt-cutoff" style="padding-right: 8px;"></i>All Invoices</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="user?.imageUrl" [alt]="user?.fullName" class="user-avatar-md rounded-circle"></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
            <li><a class="dropdown-item" [routerLink]="['/profile']"><i style="padding-right: 8px;" class="bi bi-person-circle"></i>{{ user?.fullName }}</a></li>
            <li style="cursor: pointer;"><a class="dropdown-item" (click)="logOut()"><i style="padding-right: 8px;" class="bi bi-box-arrow-in-right"></i>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
