<ng-container *ngIf="(newInvoiceState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
    <section>
      <div class="container">
        <nav aria-label="breadcrumb" style="margin-top: 8px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']">Home</a>
            </li>
            <li class="breadcrumb-item"> <a [routerLink]="['/invoices']">Invoices</a> </li>
            <li class="breadcrumb-item active" aria-current="page">New</li>
          </ol>
        </nav>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <h2><i style="margin-right: 5px;" class="bi bi-receipt"></i> New Invoice
                  </h2>
                </div>
                <div *ngIf="state.error"
                     class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                     role="alert">
                  {{ state.error }}
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                          aria-label="Close"></button>
                </div>
                <div *ngIf="state.message"
                     class="alert alert-success bg-success text-light border-0 alert-dismissible fade show"
                     role="alert">
                  {{ state.appData.message }}
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                          aria-label="Close"></button>
                </div>

                <form #invoiceForm="ngForm" (ngSubmit)="newInvoice(invoiceForm)">
                  <div class="row">
                    <div class="col-md-12" style="margin-bottom: 15px;">
                      <div class="form-group">
                        <label>Product</label>
                        <input
                          [checked]="state.appData?.data?.user?.enabled"
                          [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                          type="text" ngModel name="services" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 15px;">
                      <label>Customer</label>
                      <select
                        [checked]="state.appData?.data?.user?.enabled"
                        [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                        [ngModel]="" name="customerId" class="form-control select-cl" required>
                        <option *ngFor="let customer of state?.appData?.data?.customers"
                                [ngValue]="customer.id"
                                [selected]=""
                                [disabled]=""
                                class="select-cl">{{ customer.name }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 15px;">
                      <div class="form-group">
                        <label>Total</label>
                        <input
                          [checked]="state.appData?.data?.user?.enabled"
                          [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                          type="total" ngModel name="total" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 15px;">
                      <div class="form-group">
                        <label>Date</label>
                        <input
                          [checked]="state.appData?.data?.user?.enabled"
                          [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                          type="date" ngModel name="date" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 15px;">
                      <label>Status</label>
                      <select
                        [checked]="state.appData?.data?.user?.enabled"
                        [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                        name="status" ngModel="PENDING" class="form-control" required>
                        <option value="PENDING">PENDING</option>
                        <option value="PAID">PAID</option>
                        <option value="CANCELED">CANCELED</option>
                        <option value="OVERDUE">OVERDUE</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <button [disabled]="state.dataState === DataState.LOADING || invoiceForm.invalid || invoiceForm.pristine|| (isLaoding$ | async)"
                            type="submit" class="btn btn-primary mt-5">
                                            <span *ngIf="isLaoding$ | async" class="spinner-border spinner-border-sm"
                                                  role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                      <span *ngIf="isLaoding$ | async">Saving...</span>
                      <span *ngIf="!(isLaoding$ | async)">Save Invoice</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
