<ng-container *ngIf="(productState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
    <section>
      <div class="container">
        <nav aria-label="breadcrumb" style="margin-top: 8px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/products']">Products</a></li>
            <li aria-current="page" class="breadcrumb-item active">{{ state?.appData?.data?.product.name }}</li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-start">
                  <img [src]="state?.appData?.data?.product.imageUrl" alt="profile-image"
                       class="rounded-circle avatar-lg img-thumbnail" style="position: relative">
                  <div class="w-100 ms-4">
                    <h4 class="my-0">{{ state?.appData?.data?.product.name }}</h4>
                    <p class="" style="font-size: 13px;">{{ state?.appData?.data?.product.email }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Profile Details</h5>
                <form #productForm="ngForm" (ngSubmit)="updateProduct(productForm)">
                  <input [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" [ngModel]="state?.appData?.data?.product.id" name="id"
                         type="hidden">
                  <input [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" [ngModel]="state?.appData?.data?.product.createdAt" name="createdAt"
                         type="hidden">
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="name">Name</label>
                    <div class="col-sm-9">
                      <input [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" [ngModel]="state?.appData?.data?.product.name" class="form-control"
                             name="name"
                             type="text">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="email">Email</label>
                    <div class="col-sm-9">
                      <input [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" [ngModel]="state?.appData?.data?.product.harga" class="form-control"
                             name="email"
                             type="text">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="type">Stok</label>
                    <div class="col-sm-9">
                      <input [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" [ngModel]="state?.appData?.data?.product.stok" class="form-control"
                             name="type"
                             type="text">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="imageurl">Image URL</label>
                    <div class="col-sm-9">
                      <input [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" [ngModel]="state?.appData?.data?.product.imageUrl" class="form-control"
                             name="imageUrl"
                             type="text">
                    </div>
                  </div>
                  <button [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                          class="btn btn-primary float-end" type="submit">
                    <span *ngIf="isLoading$ | async" aria-hidden="true" class="spinner-border spinner-border-sm"
                          role="status" style="margin-right: 5px;"></span>
                    <span *ngIf="isLoading$ | async">Loading...</span>
                    <span *ngIf="!(isLoading$ | async)">Update</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
